<h1>Welcome to NextGenRikud!</h1>
<p>Welcome welcome welcome! The goal of this site is to collect information about Israeli Dancing in the greater D.C./Baltimore area and encourage the next generation of Israeli dancers and dance teachers. There will probably be more here once Mona writes it.</p>