<html>
<head>
    <title>Nextgenrikud.com</title>
    <link rel="stylesheet" href="global.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/category/sessions">Sessions</a></li>
        <li><a href="/category/schools">Schools</a></li>
        <li><a href="/category/troupes">Performance Troupes</a></li>
        <li><a href="/category/events">Special Events and Festivals</a></li>
        <li><a href="/category/camps">Camps</a></li>
        <li><a href="/category/markidims">Markidim</a></li>
      </ul>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>This site is maintained by Mona Goldstein, the badasserest rakdanit ever to crawl on the Beltway.</p>
  </footer>
</body>
</html>
