<html>
<head>
    <title>Nextgenrikud.com</title>
    <link rel="stylesheet" href="global.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/sessions">Sessions</a></li>
      <li><a href="/schools">Schools</a></li>
      <li><a href="/troupes">Performance Troupes</a></li>
      <li><a href="/events">Special Events and Festivals</a></li>
      <li><a href="/camps">Camps</a></li>
      <li><a href="/markidim">Markidim</a></li>
    </ul>
  </nav>

<%= yield %>

  <footer>
    <p>Copyright Mona Goldstein 2016.</p>
</body>
</html>